---
services:
    mariadb:
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 512M
        build: docker/mariadb
        container_name: ratel_mariadb
        command: --innodb-buffer-pool-size=64M --skip-log-bin --transaction-isolation=READ-COMMITTED --binlog-format=ROW
        volumes:
            - ./db:/var/lib/mysql
            - ./docker/mariadb/config/rocksdb.cnf:/etc/mysql/mariadb.conf.d/rocksdb.cnf:ro
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: ratel
            MYSQL_USER: ratel
            MYSQL_PASSWORD: ratel
        restart: always
        healthcheck:
            test: mariadb-admin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
            start_period: 5s
            interval: 10s
            timeout: 5s
            retries: 10

    web:
        build: docker/web
        container_name: ratel_web
        volumes:
            - ./web:/var/www/html
            - ./docker/web/php-ini-overrides.ini:/etc/php/8.4/fpm/conf.d/99-overrides.ini:ro
            - ./docker/web/www.conf:/etc/php/8.4/fpm/pool.d/www.conf:ro
            - ./docker/web/default.conf:/etc/nginx/conf.d/default.conf:ro
            - ./docker/web/nginx.conf:/etc/nginx/nginx.conf:ro
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
        ports:
            - 8080:80
        environment:
            DB_HOST: mariadb
        depends_on:
            mariadb:
                condition: service_healthy
        restart: always
        healthcheck:
            test:
              - CMD
              - /bin/sh
              - -c
              - 'curl -f http://localhost/ping'
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 30s

    #OPTIONAL
    memcached:
        image: memcached
        container_name: ratel_memcached
        command:
          - --conn-limit=1024
          - --memory-limit=64
          - --threads=4
        restart: always
