---
services:
    mariadb:
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 3G
        build: docker/mariadb
        container_name: ratel_mariadb
        command: --innodb-buffer-pool-size=64M --skip-log-bin --transaction-isolation=READ-COMMITTED --binlog-format=ROW
        volumes:
            - ./db:/var/lib/mysql
            - ./docker/mariadb/config/rocksdb.cnf:/etc/mysql/mariadb.conf.d/rocksdb.cnf:ro
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - /sys/fs/cgroup:/sys/fs/cgroup
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: ratel
            MYSQL_USER: ratel
            MYSQL_PASSWORD: ratel
        restart: always
        healthcheck:
            test: mariadb-admin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
            start_period: 5s
            interval: 10s
            timeout: 5s
            retries: 10

    web:
        build: docker/web
        container_name: ratel_web
        volumes:
            - ./web:/var/www/html
            - ./docker/web/99-ratel.conf:/etc/nginx/custom.d/99-ratel.conf:ro
            - /etc/localtime:/etc/localtime:ro
        ports:
            - 8080:80
        environment:
            DB_HOST: mariadb
            PHP_DISPLAY_ERRORS: "0"
            PHP_POST_MAX_SIZE: "100M"
            PHP_UPLOAD_MAX_FILESIZE: "50M"
            PHP_SESSION_COOKIE_HTTPONLY: "1"
            PHP_MEMORY_LIMIT: "512M"
            PHP_MAX_EXECUTION_TIME: "300"
            PHP_OPCACHE_JIT: "tracing"
            PHP_OPCACHE_JIT_BUFFER_SIZE: "128M"
            PHP_PM: "dynamic"
            PHP_PM_MAX_CHILDREN: "50"
            PHP_PM_START_SERVERS: "2"
            PHP_PM_MIN_SPARE_SERVERS: "1"
            PHP_PM_MAX_SPARE_SERVERS: "3"
        depends_on:
            mariadb:
                condition: service_healthy
        restart: always
        healthcheck:
            test:
              - CMD
              - /bin/sh
              - -c
              - 'curl -f http://localhost/robots.txt && pgrep php-fpm > /dev/null'
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 30s

    #OPTIONAL
    memcached:
        image: memcached
        container_name: ratel_memcached
        command:
          - --conn-limit=1024
          - --memory-limit=64
          - --threads=2
        restart: always
