table {
  border-collapse: collapse;
  width: 90%;
}

td, th {
  text-align: left;
  padding: 4px;
  font-family: monospace;
  font-size: 14px;
  user-select: none;
}

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tbody tr:hover {
  background: #9619111c;
  cursor: pointer;
}

.admin-panel {
  display: flex;
  padding: 0 10px 10px;
  width: fit-content;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 10px;
}

.admin-card {
  min-width: 425px;
}

.users-list {
  display: flex;
  justify-content: center;
}

.btn-admin {
  flex: 1 0 30%;
  border-radius: 5px;
}

.db-size {
  display: flex;
  justify-content: end;
  font-size: 12px;
  opacity: .5;
  padding: 10px 25px 0;
  font-family: monospace;
  font-weight: 600;
}

#right-container {
  padding-right: 0;
  padding-left: 0;
  padding-top: 45px;
}

.login {
  margin: 50px auto;
}
