html {
  filter: invert(1) hue-rotate(180deg) contrast(0.8);
}

.btn-sm {
  filter: grayscale(1) invert(1);
}

.navbar {
  filter: invert(1) grayscale();
}

#redhead {
  filter: invert(1);
}

.wait_in {
  filter: invert(1);
  backdrop-filter: invert(1) blur(1px);
}

#redDialogWrap {
  filter: invert(1) contrast(0.8);
}

#redDialogOverLay {
  filter: invert(1);
  backdrop-filter: invert(1) blur(1px);
}

#conn_lost {
  filter: invert(1);
}

.form-control {
  background-color: #1a1a1a;
  color: #fff;
  filter: invert(1) hue-rotate(180deg);
}

.form-control[readonly] {
  background-color: #000;
}

.esri-dark {
  filter: invert(1) hue-rotate(180deg) contrast(1) saturate(1.5);
}

.leaflet-control-attribution a {
  filter: invert(1) hue-rotate(180deg) contrast(1) saturate(1.5);
}
