html {
  filter: invert(1) hue-rotate(180deg) contrast(0.8);
}

.btn-sm {
  filter: grayscale(1) invert(1);
}

.navbar {
  filter: hue-rotate(180deg);
  box-shadow: none;
}

#redhead {
  filter: invert(1);
}

.wait_in {
  filter: invert(1);
  backdrop-filter: invert(1) blur(1px);
}

#redDialogWrap {
  filter: invert(1) contrast(0.8);
}

#redDialogOverLay {
  filter: invert(1);
  backdrop-filter: invert(1) blur(1px);
}

#conn_lost {
  filter: invert(1);
}

.form-control {
  background-color: #1a1a1a;
  color: #fff;
  filter: invert(1) hue-rotate(180deg);
}

.form-control[readonly] {
  background-color: #000;
}

.esri-dark {
  filter: invert(1) hue-rotate(180deg) contrast(1) saturate(1.5);
}

.leaflet-control-attribution a {
  filter: invert(1) hue-rotate(180deg) contrast(1) saturate(1.5);
}

.login {
  box-shadow: none;
}

.leaflet-map-pane canvas {
  filter: invert(1) hue-rotate(180deg);
}

.heat-data-tooltip {
  box-shadow: none !important;
}

.heat-data {
  background-color: #000;
  filter: invert(1) hue-rotate(180deg);
}

.leaflet-control-coordinates {
  background-color: #000;
  filter: invert(1) hue-rotate(180deg);
  color: #fff;
}

#heat-dataSourceSelect {
  background-color: #000;
  color: #fff;
}

.hotline-legend-canvas {
  filter: invert(1) hue-rotate(180deg);
}

.leaflet-control-coordinates, .heat-data, .hotline-legend-canvas {
  border-color: rgba(255, 255, 255, 0.2);
}

#heat-dataSourceSelect option {
  background: #191919;
}
