<?php
require_once('auth_user.php');
global $username, $limit;

if (isset($_SESSION['torque_user'])) {
 $username = $_SESSION['torque_user'];
 $limit = $_SESSION['torque_limit'];
}

// MySQL settings
$db_host = 'mariadb';  // Type mariadb if use docker
$db_user = 'ratel';    // Enter your MySQL username
$db_pass = 'ratel';    // Enter your MySQL password
$db_port = '3306';     // Default port 3306
$db_name = 'ratel';
$db_log_prefix = '_logs';
$db_sessions_prefix = '_sessions';
$db_pids_prefix = '_pids';
$db_engine = 'ROCKSDB'; //Or INNODB. Engine for database tables (Recommended ROCKSDB). Applies to newly created users
$db_innodb_compression = false; //Use row compression with innodb engine. Applies to newly created users
$db_memcached = 'memcached'; //Address of memcached host. Type memcached if use docker (OPTIONAL)
$db_users = 'users';
$db_table = $username.$db_log_prefix;
$db_sessions_table = $username.$db_sessions_prefix;
$db_pids_table = $username.$db_pids_prefix;
$def_limit = 100; //Default user db size limit MB
$max_upload_requests_per_second = 100; //Spamming protection
$share_secret = 'your_super_secret'; //Session sharing secret. Keep it safe

$salt = ['cost' => 10]; //Password salt cost. Min/Max/Default 4/31/10. Higher value = more CPU usage on authorization process
$admin = "admin";
$admin_timeformat_12 = false; //Default 24 hours time format for admin

if ($username == $admin) $_SESSION['admin'] = true;

$show_session_length = true;
$max_load_avg = 10; //Server load average limit on logs upload. 0 - disabled
$live_data_rate = 500; //Live data response in ms
$results_per_page = 50; //Pagination count of items per page
$merge_max = 50000; //Merged session datapoints count limit

//Maintenance mode
if (file_exists('maintenance') && !isset($_SESSION['admin'])){
    header("Refresh:0; url=maintenance.php");
}
?>
